<template>
  <section class="container">
    <div class="assignments">
      <finding-x/>
      <finding-y/>
      <finding-x2/>
    </div>
  </section>
</template>

<script>

  import FindingX from '~/components/FindingX.vue'
  import FindingY from '~/components/FindingY.vue'
  import FindingX2 from '~/components/FindingX2.vue'

  export default {
    components: {
      FindingX,
      FindingY,
      FindingX2
    }
  }
</script>

<style>
  .panel-title{
    line-height: 55px;
  }
  .container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .assignments{
    display: inline-block;
  }

  .col-md-4 {
    padding-bottom: 30px;
  }
</style>


