<template>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Create new function for finding X value</h3>
      </div>
      <div class="panel-body">
        <p>
          1 = 5 , 2 = 25 , 3 = 325 , 4 = 4325 Then 5 = X
        </p>
        <p>
          X = {{ x2Value }}
          <button @click="calculate">Calculate</button><br>
        </p>
      </div>
    </div>
  </div>


</template>
<script>

  import { mapState } from 'vuex'

  export default {
    computed: mapState([
      'x2Value'
    ]),
    created: function () {
      this.$store.state.x2Value = "?";
    },
    methods: {
      calculate() {
        let n = 5
        this.$store.commit('findingX2', n )
      }
    }
  }
</script>
