<template>

  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Create new function for finding X value</h3>
      </div>
      <div class="panel-body">
        <p>
          3, 5, 9, 15, X
        </p>
        <p>
          X = {{ xValue }}
          <button @click="calculate">Calculate</button><br>
        </p>
      </div>
    </div>
  </div>


</template>
<script>

  import { mapState } from 'vuex'

  export default {
    computed: mapState([
      'xValue'
    ]),
    created: function () {
      this.$store.state.xValue = "?";
    },
    methods: {
      calculate() {
        let n = 5
        this.$store.commit('findingX', n )
      }
    }
  }
</script>
