<template>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Create new function for finding Y value</h3>
      </div>
      <div class="panel-body">
        <p>
          (Y + 24)+(10 × 2) = 99
        </p>
        <p>
          Y = {{ yValue }}
          <button @click="calculate">Calculate</button><br>
        </p>
      </div>
    </div>
  </div>


</template>
<script>

  import { mapState } from 'vuex'

  export default {
    computed: mapState([
      'yValue'
    ]),
    created: function () {
      this.$store.state.yValue = "?";
    },
    methods: {
      calculate() {
        this.$store.commit('findingY')
      }
    }
  }
</script>
